* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  ::selection {
    color: #fff;
    background: #E10DB1;
  }
  

  
  /* .search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  } */

  .search-form {
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .bookIconDiv > img {
    width: 7%;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 30px;
  }
  
  form {
    /* font size 0 to remove inline-block whitespcae*/
    font-size: 0;
    max-width: 50rem;
    margin: auto;
  }
  
  .inp-wrap {
    display: inline-block;
  }
  
  
  [class*="grid-"] {
    vertical-align: middle;
    height: 3.125rem;
    font-size: 1.4rem;
  }
  
  .search-wrap {
    width: 50%;
  }
  
  .cat-wrap {
    width: 41%;
  }
  
  .submit-wrap {
    width: 8%;
  }
  
  .grid-20 {
    width: 20%;
  }
  
  .grid-25 {
    width: 25%;
  }
  
  .grid-75 {
    width: 75%;
  }
  
  .grid-80 {
    width: 80%;
  }
  
  .grid-100 {
    width: 100%;
  }
  
  
  /* input and label styles*/
  
  label {
    padding: 0 1rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 3.125rem;
    background: #2F2F2F;
    cursor: pointer;
    text-align: center;
    font-weight: 300;
    color: #fff;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  }
  
  label:hover {
    background: #E1E1E1;
    color: #232323;
  }
  
  .search-label {
    width: 25%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  input,
  select {
    transition: box-shadow 0.2s ease-in-out;
    border: 0;
    padding: 0 0 0 0.5em;
  }

  .inp-wrap > select {
      cursor: pointer;
  }
  
  #search-field:focus,
  select:focus {
    outline: none;
    border: 0;
    box-shadow: inset 0 0 0 5px #596b7d;
  }
  
  
  /* select menu styles */
  
  .cat-wrap {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  
  
  /* triangle */
  
  .cat-wrap::after {
    content: '\25BC';
    position: absolute;
    top: 0.6rem;
    right: 0.5em;
    color: #515151;
    font-size: 1.2rem;
    pointer-events: none;
  }
  
  select {
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  
  option {
    margin: 0.6em 0;
  }
  
  
  /* search button and icon styles */
  
  
  /* remove mozilla button styles */
  
  button::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
  }
  
  .btn {
    text-transform: uppercase;
    font-size: 1.1rem;
    border: 0;
    padding: 0 0.3em 0 0;
    background: #2F2F2F !important;
    color: #fff !important;
    font-weight: 600;
    transition: background 0.25s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    outline: 0;
    background: #E1E1E1 !important;
    color: #2F2F2F !important;
  }
  
  .btn:active {
    transform: translateY(1px);
  }
  
  .search-icon-container {
    outline: 0;
  }
  
  #search-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    outline: 0;
    fill: #fff;
  }
  
  .btn:hover #search-icon,
  .btn:focus #search-icon {
    fill: #232323;
  }
  
  @media screen and (max-width: 820px) {
    .search-label {
      border-radius: 0;
    }
    .cat-wrap {
      width: 50%;
    }
    .submit-wrap {
      width: 50%;
      display: block;
      margin: 1rem auto 1rem;
    }
    .btn {
      border-radius: 5px;
    }
    .search-form {
      padding: 0 1rem;
    }
  }
  
  @media screen and (max-width: 560px) {
    .cat-wrap,
    .search-wrap {
      width: 100%;
      margin-bottom: 0.5rem;
    }
    .grid-80 {
      width: 75%;
    }
    .grid-20 {
      width: 25%;
    }
  }